[submodule "Dependencies/Tilt"]
	path = Dependencies/Tilt
	url = git@github.com:tomsci/tomscis-lua-templater.git
[submodule "cheese/changes"]
	path = cheese/changes
	url = git@github.com:jbmorley/changes.git
[submodule "cheese/build-tools"]
	path = cheese/build-tools
	url = git@github.com:jbmorley/build-tools.git
[submodule "Dependencies/diligence"]
	path = Dependencies/diligence
	url = git@github.com:inseven/diligence.git
[submodule "Dependencies/hummingbird"]
	path = Dependencies/hummingbird
	url = git@github.com:jbmorley/hummingbird.git
[submodule "Dependencies/hoedown"]
	path = Dependencies/hoedown
	url = git@github.com:hoedown/hoedown.git
[submodule "Dependencies/swift-log"]
	path = Dependencies/swift-log
	url = git@github.com:apple/swift-log.git
[submodule "Dependencies/interact"]
	path = Dependencies/interact
	url = git@github.com:inseven/interact.git
[submodule "cheese/Sparkle"]
	path = cheese/Sparkle
	url = https://github.com/sparkle-project/Sparkle
