*.[Pp][Nn][Gg] filter=lfs diff=lfs merge=lfs -text
*.[Jj][Pp][Gg] filter=lfs diff=lfs merge=lfs -text
*.[Jj][Pp][Ee][Gg] filter=lfs diff=lfs merge=lfs -text
*.[Mm][Oo][Vv] filter=lfs diff=lfs merge=lfs -text
*.[Gg][Ii][Ff] filter=lfs diff=lfs merge=lfs -text
*.[Mm][Pp]4 filter=lfs diff=lfs merge=lfs -text
*.[Mm]4[Vv] filter=lfs diff=lfs merge=lfs -text
*.[Hh][Ee][Ii][Cc] filter=lfs diff=lfs merge=lfs -text
*.[Tt][Ii][Ff][Ff] filter=lfs diff=lfs merge=lfs -text
