:root {
    --box-border-radius: 0.4em;
    --text-border-radius: 0.2em;
    --box-padding: 1em;
    --light-background: #fcfcfc;
    --dark-background: #f0f0f0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Bitter', serif;
    max-width: 1000px;
    margin: auto;
}

a {
    color: black;
}

p, pre, ul, aside {
    line-height: 1.5em;
}

.content {
    margin: 2em 4em;
}

.container {
    position: relative;
    height: 100vh;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.suggestion {
    font-size: 100px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 1em;
    text-align: center;
}

nav li {
    display: inline;
}

nav li::after {
    content: " / ";
}

nav li:last-child::after {
    content: "";
}

.hljs {
    padding: var(--box-padding);
    border-radius: var(--box-border-radius);
}

aside {
    background-color: lightyellow;
    padding: var(--box-padding);
    border-radius: var(--box-border-radius);
}

aside:before {
    content: "💡"
}

aside code {
    background-color: palegoldenrod;
}

footer {
    text-align: center;
}

code {
    background-color: var(--dark-background);
    padding: 0.4em;
    border-radius: var(--text-border-radius);
}

table {
    background-color: var(--light-background);
    border-spacing: 0;
    width: 100%;
    border-radius: var(--box-border-radius);
}

tr:nth-child(odd) td code {
    background-color: var(--light-background);
}

tr:nth-child(even) td {
    background-color: var(--dark-background);
}

tr:first-child td:first-child {
    border-top-left-radius: var(--box-border-radius);
}

tr:first-child td:last-child {
    border-top-right-radius: var(--box-border-radius);
}

tr:last-child td:last-child {
    border-bottom-right-radius: var(--box-border-radius);
}

tr:last-child td:first-child {
    border-bottom-left-radius: var(--box-border-radius);
}

td {
    padding: 0.4em;
}

h1 {

}

h2 {
    position: relative;
}

h2::before {
    position: absolute;
    left: -1em;
    content: ">";
    text-align: right;
}

h3 {
    border-bottom: 1px solid pink;
    padding-bottom: 0.4em;
}
